@media (0 < width <= 480px) {
    .textarea-container {
        @apply h-full flex flex-col items-center w-full gap-y-4 relative
    } 
    .repository-description {
        @apply textarea textarea-bordered grow w-full rounded-md resize-none text-base py-2
    }
    .repository-description {
        background-color: rgb(18, 18, 18);
    }
    .copy-button {
        @apply flex items-center justify-center w-9/12 font-medium bg-secondary py-3 px-4 rounded-md cursor-pointer text-lg shadow-md
    }
}

@media (480px < width <= 834px) {
    .textarea-container {
        @apply h-full flex flex-col items-center w-full gap-y-4 relative
    } 
    .repository-description {
        @apply textarea textarea-bordered grow w-full rounded-md resize-none text-base py-2
    }
    .repository-description {
        background-color: rgb(18, 18, 18);
    }
    .copy-button {
        @apply flex items-center justify-center w-9/12 font-medium bg-secondary py-3 px-4 rounded-md cursor-pointer text-lg shadow-md
    }
}

@media (834px < width <= 1440px) {
    .textarea-container {
        @apply flex flex-col gap-y-6 h-full items-center w-8/12
    }
    .copy-button {
        @apply flex items-center justify-center w-5/12 font-medium bg-secondary py-4 px-4 rounded-md cursor-pointer text-lg shadow-md
    }
    .repository-description {
        @apply textarea textarea-bordered grow w-full rounded-md resize-none text-base py-4 textarea-lg text-lg
    }
    .repository-description {
        background-color: rgb(18, 18, 18);
        outline: none !important;
        min-width: 600px;
    }
}

@media (min-width: 1441px) {
    .textarea-container {
        @apply flex flex-col gap-y-5 h-full items-center w-3/5
    }
    .copy-button {
        @apply flex items-center justify-center w-5/12 font-medium bg-secondary py-4 px-4 rounded-md cursor-pointer text-lg shadow-md
    }
    .repository-description {
        @apply textarea textarea-bordered grow w-full rounded-md resize-none text-base py-4 textarea-lg text-lg
    }
    .repository-description {
        background-color: rgb(18, 18, 18);
        outline: none !important;
    }
}