.page-container {
    background-color: rgb(18, 18, 18);
}

@media (0 < width <= 480px) {
    .page-container {
        margin-top: 80px;
    }
    .page-container {
        @apply flex grow py-8
    }
    .main {
        @apply grow
    }
    .user-repositories {
        @apply grid grow gap-y-10 grid-cols-1 justify-center
    }
    .user-repositories {
        grid-template-columns: 300px;
        grid-auto-rows: 180px;
    }
}

@media (480px < width <= 834px) {
    .page-container {
        margin-top: 80px;
    }
    .page-container {
        @apply flex grow py-8 px-10 justify-center
    }
    .user-repositories {
        @apply grid gap-y-10 grow gap-x-12 justify-center
    }
    .user-repositories {
        grid-template-columns: repeat(auto-fit, 300px);
        grid-auto-rows: 180px;
    }
}

@media (834px < width <= 1440px) {
    .page-container {
        margin-top: 100px;
    }
    .page-container {
        @apply flex flex-col grow py-10 px-10
    }
    .main {
        @apply grow
    }
    .user-repositories {
        @apply grid gap-y-10 grow gap-x-20 justify-center
    }
    .user-repositories {
        grid-auto-rows: 180px;
        grid-template-columns: repeat(auto-fit, 300px);
    }
}

@media (min-width: 1441px) {
    .page-container {
        @apply flex grow flex-col border-l-4 border-black h-screen overflow-y-auto 
    }
    .header {
        @apply flex items-end px-24
    }
    .header {
        height: 80px;
    }
    .header h1 {
        @apply text-4xl font-medium
    }
    .main {
        @apply grow
    }
    .user-repositories {
        @apply grid justify-center gap-x-16 gap-y-10 px-10 py-12
    }
    .user-repositories {
        height: calc(100vh - 80px);
    }
    .user-repositories {
        grid-template-columns: repeat(3, 300px);
        grid-auto-rows: 180px;
    }
}