.page-container {
    background-color: rgb(18, 18, 18);
}

@media (0 < width <= 480px) {
    .page-container {
        @apply h-full flex flex-col gap-y-8
    }
    .header {
        height: 80px;
    }
    .header {
        @apply flex items-center justify-center relative box-content
    }
    .go-back-icon {
        @apply h-6 w-6 cursor-pointer
    }
    .header > div:first-child {
        @apply absolute left-8
    }
    .service-name {
        @apply text-xl font-medium
    }
    .main {
        @apply grow flex flex-col gap-y-8 justify-center pb-10 px-8
    }
    .modal-window {
        @apply modal flex justify-center items-center
    }
    .cancel-button {
        @apply btn btn-md btn-circle btn-ghost absolute right-4 top-4 w-fit
    }
    .popup-message {
        @apply modal-box flex flex-col rounded-md py-6 px-6 gap-y-6
    }
    .popup-message {
        background-color: rgb(15, 15, 15);
    }
    .warning {
        @apply py-4 text-xl/normal text-center
    }
    .popup-message h3 {
        @apply font-bold text-2xl text-center
    }
    .add-funds-button {
        @apply btn rounded-md btn-lg text-xl self-center
    }
    .add-funds-button {
        background-color: #7a00c2;
    }
    .download-button-container {
        @apply flex h-full items-center justify-center
    }
    .download-logo-button {
        background-color: rgb(122, 0, 194);
        padding: 1.5rem;
        font-size: 1.25rem;
        border: none;
        color: white;
        border-radius: 6px;
        font-weight: 500;
    }
}

@media (480px < width <= 834px) {
    .page-container {
        @apply h-full flex flex-col gap-y-8
    }
    .header {
        height: 100px;
    }
    .header {
        @apply flex items-center justify-center relative box-content
    }
    .go-back-icon {
        @apply h-6 w-6 cursor-pointer
    }
    .header > div:first-child {
        @apply absolute left-12
    }
    .service-name {
        @apply text-2xl font-medium
    }
    .main {
        @apply grow flex flex-col gap-y-8 items-center justify-center px-8
    }
    .modal-window {
        @apply modal flex justify-center items-center
    }
    .cancel-button {
        @apply btn btn-lg btn-circle btn-ghost absolute right-4 top-4 w-fit
    }
    .popup-message {
        @apply modal-box flex flex-col rounded-md py-8 px-8 gap-y-6
    }
    .popup-message {
        background-color: rgb(15, 15, 15);
    }
    .warning {
        @apply py-4 text-2xl/normal text-center
    }
    .popup-message h3 {
        @apply font-bold text-3xl text-center
    }
    .add-funds-button {
        @apply btn rounded-md btn-lg text-xl self-center
    }
    .add-funds-button {
        background-color: #7a00c2;
    }
    .download-button-container {
        @apply flex h-full items-center justify-center
    }
    .download-logo-button {
        background-color: rgb(122, 0, 194);
        padding: 1.5rem;
        font-size: 1.25rem;
        border: none;
        color: white;
        border-radius: 6px;
        font-weight: 500;
    }
}

@media (834px < width <= 1440px) {
    .page-container {
        @apply h-full flex flex-col
    }
    .header {
        height: 120px;
    }
    .header {
        @apply flex items-center justify-center relative
    }
    .header > div:first-child {
        @apply absolute left-24
    }
    .go-back-icon {
        @apply h-8 w-8 cursor-pointer
    }
    .service-name {
        @apply text-4xl font-medium
    }
    .main {
        @apply flex grow flex-col items-center justify-center gap-y-24
    }
    .modal-window {
        @apply modal flex justify-center items-center
    }
    .cancel-button {
        @apply btn btn-lg btn-circle btn-ghost absolute right-4 top-4 w-fit
    }
    .popup-message {
        @apply modal-box flex flex-col rounded-md py-8 px-8 gap-y-6
    }
    .popup-message {
        background-color: rgb(15, 15, 15);
    }
    .warning {
        @apply py-4 text-2xl/normal text-center
    }
    .popup-message h3 {
        @apply font-bold text-3xl text-center
    }
    .add-funds-button {
        @apply btn rounded-md btn-lg text-xl self-center
    }
    .add-funds-button {
        background-color: #7a00c2;
    }
    .download-button-container {
        @apply flex h-full items-center justify-center
    }
    .download-logo-button {
        background-color: rgb(122, 0, 194);
        padding: 1.5rem;
        font-size: 1.25rem;
        border: none;
        color: white;
        border-radius: 6px;
        font-weight: 500;
    }
}

@media (min-width: 1441px) {
    .page-container {
        @apply flex flex-col h-full
    }
    .page-container {
        background-color: #121212;
    }
    .header {
        @apply flex items-center justify-center px-24 relative
    }
    .header {
        height: 150px;
    }
    .header > div:first-child {
        @apply absolute left-24 rounded-md 
    }
    .header > div:last-child {
        @apply flex items-center h-full justify-center gap-x-10
    }
    .service-name {
        @apply text-4xl font-medium
    }
    .go-back-icon {
        @apply h-10 w-10 cursor-pointer
    }
    .header > h1 {
        @apply text-4xl font-medium
    }
    .main {
        @apply flex flex-col grow justify-center items-center gap-y-32
    }
    .modal-window {
        @apply modal flex justify-center items-center
    }
    .popup-message {
        @apply modal-box flex flex-col rounded-md py-8 px-8 gap-y-6
    }
    .cancel-button {
        @apply btn btn-lg btn-circle btn-ghost absolute right-4 top-4 w-fit
    }
    .popup-message {
        background-color: rgb(15, 15, 15);
    }
    .warning {
        @apply py-4 text-2xl/normal text-center
    }
    .popup-message h3 {
        @apply font-bold text-3xl text-center
    }
    .add-funds-button {
        @apply btn rounded-md btn-lg text-xl self-center
    }
    .add-funds-button {
        background-color: #7a00c2;
    }
    .download-button-container {
        @apply flex h-full items-center justify-center
    }
    .download-logo-button {
        background-color: rgb(122, 0, 194);
        padding: 1.5rem;
        font-size: 1.25rem;
        border: none;
        color: white;
        border-radius: 6px;
        font-weight: 500;
    }
}