.menu {
    display: flex;
    flex-direction: column;
    row-gap: 1.75rem;
    width: 230px;
    background-color: rgb(10, 10, 10);
    border-right: 1px solid rgb(40, 40, 40);
    padding: 2.5rem 1.75rem;
}
.project-name {
    font-size: 1.25rem;
    font-weight: 600;
}
.links {
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.links > li {
    border-radius: 5px;
}
.links > li > a {
    display: flex;
    height: 100%;
    align-items: center;
    column-gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 6px;
    padding-left: 1rem;
}
.active-link {
    background-color: white;
    color: black;
}
.links > li > a {
    @apply text-base
}
.links > li:hover {
    background-color: rgb(15, 15, 15);
}
.links li:last-child {
    @apply mt-auto 
}
.delete-account-button {
    @apply btn btn-secondary rounded-md
}
.modal-window {
    @apply modal flex justify-center items-center
}
.popup-message {
    @apply modal-box rounded-md py-10 px-8 gap-y-5 flex flex-col
}
.popup-message {
    background-color: rgb(12.5, 12.5, 12.5);
}
.warning {
    @apply text-2xl/normal text-center
}
.buttons-container {
    @apply modal-action gap-x-8 flex justify-center
}
.cancel-button {
    @apply btn rounded-md grow
}
.confirm-button {
    @apply btn rounded-md grow
}