.page-container {
    background-color: rgb(18, 18, 18);
}

@media (0 < width <= 480px) {
    .page-container {
        margin-top: 80px;
    }
    .page-container {
        @apply flex grow flex-col
    }
    .header {
        height: 80px;
    }
    .header {
        @apply py-4
    }
    .header > div {
        @apply flex items-center justify-center gap-x-4
    }
    .github-icon {
        @apply h-10 w-10
    }
    .repository-name {
        @apply text-2xl
    }
    .main {
        @apply flex flex-col grow items-center justify-center gap-y-8 py-8
    }
    .services {
        @apply grid gap-y-10
    }
    .services {
        grid-template-columns: 280px;
        grid-auto-rows: 180px;
    }
    .services > div {
        @apply flex justify-center items-center text-center p-5 rounded-md shadow-md text-xl bg-black
    }
}

@media (480px < width <= 834px) {
    .page-container {
        margin-top: 80px;
    }
    .page-container {
        @apply flex grow flex-col
    }
    .header {
        height: 100px;
    }
    .header {
        @apply py-6
    }
    .header > div {
        @apply flex items-center justify-center h-full gap-x-4
    }
    .github-icon {
        @apply h-12 w-12
    }
    .repository-name {
        @apply text-3xl font-medium
    }
    .main {
        @apply flex flex-col grow items-center justify-center gap-y-8 py-8
    }
    .services {
        @apply grid gap-y-10 grow gap-x-12 justify-center
    }
    .services {
        grid-template-columns: repeat(auto-fit, 300px);
        grid-auto-rows: 180px;
    }
    .services > div {
        @apply flex justify-center items-center text-center p-5 rounded-md shadow-md text-2xl bg-black
    }
}

@media (834px < width <= 1440px) {
    .page-container {
        margin-top: 100px;
    }
    .page-container {
        @apply flex grow flex-col h-full p-10 overflow-y-auto relative
    }
    .header {
        height: 80px;
        position: absolute;
    }
    .header > div:first-child {
        @apply flex justify-start h-full px-14
    }
    .go-back-icon {
        @apply h-10 w-10 cursor-pointer
    }
    .github-icon {
        @apply h-10 w-10
    }
    .repository-name {
        @apply text-4xl
    }
    .main {
        @apply flex flex-col grow items-center justify-center
    }
    .services {
        display: grid;
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(2, 200px);
    }
    .services {
        @apply gap-y-12 gap-x-24 box-content
    }
    .services > div {
        @apply flex justify-center items-center text-center p-5 rounded-md
    }
    .services > div {
        background-color: rgb(24, 24, 24);
        font-size: 26px;
    }
    .services > div:hover {
        border: 3px solid rgb(122, 0, 194);
    }
    .services > div:hover {
        @apply font-medium
    }
}

@media (min-width: 1441px) {
    .page-container {
        @apply flex grow flex-col h-full
    }
    .page-container {
        border-left-width: 4px;
        border-left-color: black;
    }
    .header {
        @apply flex items-center relative justify-center px-24
    }
    .header {
        height: 150px;
    }
    .go-back-icon {
        @apply h-10 w-10 cursor-pointer 
    }
    .header > div:first-child {
        @apply absolute left-0 rounded-md px-24
    }
    .header > div:last-child {
        @apply flex items-center justify-center gap-x-10
    }
    .github-icon {
        @apply h-12 w-12
    }
    .repository-name {
        @apply text-4xl 
    }
    .main {
        @apply flex grow justify-center items-center
    }
    .services {
        display: grid;
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(2, 175px);
    }
    .services {
        @apply gap-y-12 gap-x-24
    }
    .services > div {
        @apply flex flex-col justify-center items-center text-center p-5 rounded-md shadow-md relative text-2xl
    }
    .services > div > div {
        @apply py-4 px-4 self-start bottom-0 absolute mb-5
    }
    .services > div {
        background-color: rgb(24, 24, 24);
    }
    .services > div:hover {
        border: 3px solid rgb(122, 0, 194);
        font-weight: 500;
    }
}