.page-container {
    background-color: rgb(10, 10, 10);
}

@media (0 < width <= 480px) {
    .page-container {
        margin-top: 80px;
    }
    .page-container {
        @apply flex grow flex-col
    }
    .header {
        height: 80px;
    }
    .header {
        @apply py-4
    }
    .header > div {
        @apply flex items-center justify-center gap-x-4
    }
    .github-icon {
        @apply h-10 w-10
    }
    .repository-name {
        @apply text-2xl
    }
    .main {
        @apply flex flex-col grow items-center justify-center gap-y-8 py-8
    }
    .services {
        @apply grid gap-y-10
    }
    .services {
        grid-template-columns: 280px;
        grid-auto-rows: 180px;
    }
    .services > div {
        @apply flex justify-center items-center text-center p-5 rounded-md shadow-md text-xl bg-black
    }
}

@media (480px < width <= 834px) {
    .page-container {
        margin-top: 80px;
    }
    .page-container {
        @apply flex grow flex-col
    }
    .header {
        height: 100px;
    }
    .header {
        @apply py-6
    }
    .header > div {
        @apply flex items-end justify-center h-full gap-x-4
    }
    .github-icon {
        @apply h-8 w-8
    }
    .repository-name {
        @apply text-2xl font-medium
    }
    .main {
        @apply flex flex-col grow items-center justify-center py-4 px-12
    }
    .summary {
        @apply btn btn-lg m-3 flex gap-x-3 items-center rounded-md font-normal
    }
    .summary {
        background-color: rgb(12.5, 12.5, 12.5);
        border-width: 1px;
        border-color: rgb(40, 40, 40);
        border-style: solid;
    }
    .summary:hover {
        border-color: rgb(80, 80, 80);
    }
}

@media (834px < width <= 1440px) {
    .page-container {
        margin-top: 80px;
    }
    .page-container {
        @apply flex grow flex-col h-full p-10 overflow-y-auto relative
    }
    .header {
        height: 80px;
        position: absolute;
    }
    .go-back-icon {
        @apply h-5 w-5 mt-1
    }
    .header > div:first-child {
        @apply absolute left-0 rounded-md ml-16 border w-fit py-2 px-2 cursor-pointer 
    }
    .header > div:first-child {
        border-color: rgb(40, 40, 40);
    }
    .header > div:first-child:hover {
        background-color: rgb(40, 40, 40);
    }
    .go-back-icon {
        @apply h-5 w-5 mt-1
    }
    .github-icon {
        @apply h-6 w-6
    }
    .repository-name {
        @apply text-4xl
    }
    .main {
        @apply flex flex-col grow items-center justify-center
    }
    .summary {
        @apply btn btn-lg m-3 flex gap-x-3 items-center rounded-md font-normal
    }
    .summary {
        background-color: rgb(12.5, 12.5, 12.5);
        border-width: 1px;
        border-color: rgb(40, 40, 40);
        border-style: solid;
    }
    .summary:hover {
        border-color: rgb(80, 80, 80);
    }
}

@media (min-width: 1441px) {
    .page-container {
        @apply flex grow flex-col h-full
    }
    .header {
        @apply flex items-center relative justify-center px-24
    }
    .header {
        height: 120px;
    }
    .go-back-icon {
        @apply h-5 w-5 mt-1
    }
    .header > div:first-child {
        @apply absolute left-0 rounded-md ml-16 border w-fit py-2 px-2 cursor-pointer 
    }
    .header > div:first-child {
        border-color: rgb(40, 40, 40);
    }
    .header > div:first-child:hover {
        background-color: rgb(40, 40, 40);
    }
    .header > div:last-child {
        @apply flex items-center justify-center gap-x-5
    }
    .github-icon {
        @apply h-8 w-8
    }
    .repository-name {
        @apply text-2xl font-medium
    }
    .main {
        @apply flex grow justify-center items-center pb-8
    }
    .main > div:first-child {
        @apply flex flex-col items-center
    }
    .view-logo-button-container {
        @apply flex h-full items-center justify-center
    }
    .view-logo-button {
        @apply btn btn-lg m-3 flex gap-x-3 items-center rounded-md font-normal
    }
    .view-logo-button {
        background-color: rgb(12.5, 12.5, 12.5);
        border-width: 1px;
        border-color: rgb(40, 40, 40);
        border-style: solid;
    }
    .view-logo-button:hover {
        border-color: rgb(80, 80, 80);
    }
    .modal-window {
        @apply modal flex justify-center items-center
    }
    .popup-message {
        @apply modal-box flex flex-col rounded-md py-6 px-8 gap-y-6
    }
    .x-button {
        @apply btn btn-lg btn-circle btn-ghost absolute right-4 top-4 w-fit
    }
    .popup-message {
        background-color: rgb(12.5, 12.5, 12.5);
    }
    .warning {
        @apply py-2 text-xl/normal text-center
    }
    .popup-message h3 {
        @apply font-bold text-2xl text-center
    }
    .add-funds-button {
        @apply btn rounded-md self-center text-lg
    }
    .add-funds-button {
        background-color: #7a00c2;
    }
    .error-modal-window {
        @apply modal flex justify-center items-center
    }
    .error-box {
        @apply modal-box rounded-md
    }
    .error-box {
        background-color: rgb(12.5, 12.5, 12.5);
    }
    .cancel-button {
        @apply btn rounded-md
    }
    .cancel-button {
        background-color: #7a00c2;
    }
    .summary {
        @apply btn btn-lg m-3 flex gap-x-3 items-center rounded-md font-normal
    }
    .summary {
        background-color: rgb(12.5, 12.5, 12.5);
        border-width: 1px;
        border-color: rgb(40, 40, 40);
        border-style: solid;
    }
    .summary:hover {
        border-color: rgb(80, 80, 80);
    }
}