.page-container {
    @apply h-full flex flex-col justify-center items-center
}

.page-container {
    background-color: rgb(18, 18, 18);
}

.sign-in-button {
    @apply btn btn-secondary font-normal btn-lg text-white rounded-md
}

.sign-in-button > div {
    @apply flex h-full items-center
}

.service-description {
    @apply text-white
}

.sign-in {
    @apply flex flex-col items-center w-full
}

.important {
    @apply italic text-center 
}

@media (0 < width <= 480px) {
    .page-container {
        @apply space-y-20
    }
    .service-description {
        @apply w-full px-4
    }
    .service-description h1 {
        @apply text-5xl text-left leading-tight
    }
    .sign-in {
        @apply space-y-3
    }
    .sign-in-button {
        @apply text-xl px-4
    }
    .sign-in-button > div {
        @apply space-x-3
    }
    .github-icon {
        @apply h-8 w-8
    }
    .important {
        @apply w-80 text-sm
    }
}

@media (480px < width <= 834px) {
    .page-container {
        @apply space-y-10 px-4
    }
    .service-description {
        @apply w-full px-4
    }
    .service-description h1 {
        @apply text-5xl text-center leading-tight
    }
    .sign-in {
        @apply space-y-4
    }
    .sign-in-button {
        @apply text-2xl px-8 py-10
    }
    .sign-in-button > div {
        @apply space-x-4
    }
    .github-icon {
        @apply h-10 w-10
    }
    .important {
        @apply w-96 text-base
    }
}

@media (834px < width <= 1440px) {   
    .page-container {
        @apply space-y-12
    }
    .service-description {
        @apply w-8/12
    }
    .service-description h1 {
        @apply text-5xl text-center leading-tight
    }
    .sign-in {
        @apply w-full space-y-4
    }
    .sign-in-button {
        @apply text-2xl px-6 py-10
    }
    .sign-in-button > div {
        @apply space-x-5
    }
    .github-icon {
        @apply h-10 w-10
    }
    .important {
        @apply text-base
    }
    .important {
        width: 500px;
    }
}

@media (min-width: 1441px) {
    .page-container {
        @apply space-y-12
    }
    .service-description {
        @apply w-9/12
    }
    .service-description h1 {
        @apply text-6xl text-center leading-tight
    }
    .sign-in {
        @apply w-full space-y-4
    }
    .sign-in-button {
        @apply text-2xl px-6 py-10
    }
    .sign-in-button > div {
        @apply space-x-5
    }
    .github-icon {
        @apply h-10 w-10
    }
    .important {
        @apply text-base
    }
    .important {
        width: 500px;
    }
}

