.header {
    @apply flex flex-col fixed w-full space-y-12 top-0 z-10
}
.header {
    background-color: rgb(12.5, 12.5, 12.5);
}
.header div:first-child {
    @apply flex justify-between w-full px-8 py-5 items-center
}
.header div:first-child {
    height: 80px;
}
.page-name {
    @apply text-2xl font-medium text-white
}
.page-name + label {
    background-color: rgb(12.5, 12.5, 12.5) !important;
    border: none !important;
}
.bars-icon {
    @apply h-7 w-7 swap-off fill-current
}
.bars-icon {
    color: white;
}
.header div:last-child {
    @apply grow transition-opacity
}
.links {
    @apply flex grow flex-col items-center space-y-16 text-2xl text-center
}
a {
    @apply py-4 px-7 rounded-md
}
.delete-account-button {
    @apply btn btn-secondary rounded-md
}
.modal-window {
    @apply modal flex justify-center items-center
}
.popup-message {
    @apply modal-box rounded-md py-10 px-8 gap-y-5 flex flex-col
}
.popup-message {
    background-color: rgb(12.5, 12.5, 12.5);
}
.warning {
    @apply text-2xl/normal text-center
}
.buttons-container {
    @apply modal-action gap-x-8 flex justify-center
}
.cancel-button {
    @apply btn rounded-md grow
}
.confirm-button {
    @apply btn rounded-md grow
}