.page-container {
    background-color: rgb(18, 18, 18);
}

@media (0 < width <= 480px) {
    .page-container {
        @apply flex grow flex-col gap-y-6 p-6
    }
    .page-container {
        margin-top: 80px;
    }
    .header {
        height: 80px;
    }
    .header {
        @apply flex items-center justify-center text-2xl text-center px-5 font-medium
    }
    .main {
        @apply flex flex-col grow items-center justify-center gap-y-4 pb-5 px-5
    }
    .generated-articles {
        @apply flex flex-col gap-y-8 items-center pb-5
    }
    .generated-article {
        @apply flex flex-col items-center justify-center gap-y-8 py-5 px-8 text-lg rounded-md text-center
    }
    .generated-article {
        background-color: rgb(8, 8, 8);
        width: 300px;
        height: 180px;
    }
    .empty-list {
        @apply h-full flex items-center justify-center
    }
    .empty-list h1 {
        @apply text-2xl
    }
}

@media (480px < width <= 834px) {
    .page-container {
        @apply flex grow flex-col gap-y-6 p-6
    }
    .page-container {
        margin-top: 80px;
    }
    .header {
        height: 80px;
    }
    .header {
        @apply flex items-center justify-center text-2xl text-center px-5 font-medium
    }
    .main {
        @apply flex flex-col grow items-center justify-center gap-y-4 pb-5 px-5
    }
    .generated-articles {
        @apply flex flex-col gap-y-8 items-center pb-5
    }
    .generated-article {
        @apply flex flex-col items-center justify-center gap-y-8 py-5 px-8 text-lg rounded-md text-center
    }
    .generated-article {
        background-color: rgb(8, 8, 8);
        width: 320px;
        height: 200px;
    }
    .empty-list {
        @apply h-full flex items-center justify-center
    }
    .empty-list h1 {
        @apply text-2xl
    }
}

@media (834px < width <= 1440px) {
    .page-container {
        margin-top: 100px;
    }
    .page-container {
        @apply flex grow flex-col border-l-4 border-black overflow-y-auto
    }
    .header {
        @apply flex items-center relative justify-center px-24
    }
    .header {
        height: 120px;
    }
    .go-back-icon {
        @apply h-8 w-8
    }
    .header > div:first-child {
        @apply absolute left-0 rounded-md cursor-pointer px-32
    }
    .header > div:last-child h1 {
        @apply text-4xl font-medium
    }
    .main {
        height: calc(100vh - 120px - 100px);
    }
    .generated-articles {
        @apply flex flex-col gap-y-8 items-center py-5
    }
    .generated-articles {
        height: calc(100vh - 120px - 100px);
    }
    .generated-article {
        @apply flex py-10 px-12 box-content w-8/12 justify-between items-center text-xl rounded-md cursor-pointer
    }
    .generated-article {
        background-color: rgb(8, 8, 8);
    }
    .empty-list {
        @apply h-full flex items-center justify-center
    }
    .empty-list h1 {
        @apply text-4xl
    }
}

@media (min-width: 1441px) {
    .page-container {
        @apply flex grow flex-col border-l-4 border-black h-screen
    }
    .header {
        @apply flex items-center relative justify-center px-24
    }
    .header {
        height: 150px;
    }
    .go-back-icon {
        @apply h-9 w-9
    }
    .header > div:first-child {
        @apply absolute left-0 rounded-md cursor-pointer px-32
    }
    .header > div:last-child h1 {
        @apply text-4xl
    }
    .main {
        @apply grow
    }
    .generated-articles {
        @apply flex flex-col gap-y-8 items-center overflow-y-auto py-5
    }
    .generated-articles {
        height: calc(100vh - 150px);
    }
    .generated-article {
        @apply flex py-10 px-12 box-content w-8/12 justify-between items-center text-xl rounded-md cursor-pointer
    }
    .generated-article {
        background-color: rgb(8, 8, 8);
    }
    .empty-list {
        @apply h-full flex items-center justify-center
    }
    .empty-list h1 {
        @apply text-4xl
    }
}