.generate-button {
    background-color: rgb(122, 0, 194);
}

@media (0 < width <= 480px) {
    .generate-button {
        @apply font-medium rounded-md
    }
    .generate-button {
        padding: 1rem 1.25rem;
        font-size: 1.25rem;
    }
}

@media (480px < width <= 834px) {
    .generate-button {
        @apply font-medium rounded-md
    }
    .generate-button {
        padding: 1.25rem 1.5rem;
        font-size: 1.5rem;
    }
}
@media (834px < width <= 1440px) {
    .generate-button {
        @apply font-medium rounded-md
    }
    .generate-button {
        padding: 1.25rem 1.5rem;
        font-size: 1.5rem;
    }
}
@media (min-width: 1441px) {
    .generate-button {
        @apply font-medium rounded-md
    }
    .generate-button {
        padding: 1.25rem 1.5rem;
        font-size: 1.5rem;
    }
}