@media (0 < width <= 480px) {
    .generate-description-button {
        @apply font-medium rounded-md
    }
    .generate-description-button {
        padding: 1rem 1.25rem;
        background-color: rgb(122, 0, 194);
        font-size: 1.25rem;
    }
    .loading-state {
        @apply flex gap-x-4
    }
    .loading-animation {
        @apply loading loading-spinner 
    }
}

@media (480px < width <= 834px) {
    .generate-description-button {
        @apply font-medium rounded-md
    }
    .generate-description-button {
        padding: 1.25rem 1.5rem;
        background-color: rgb(122, 0, 194);
        font-size: 1.5rem;
    }
    .loading-state {
        @apply flex gap-x-4
    }
    .loading-animation {
        @apply loading loading-spinner 
    }
}
@media (834px < width <= 1440px) {
    .generate-description-button {
        @apply font-medium rounded-md
    }
    .generate-description-button {
        padding: 1.25rem 1.5rem;
        background-color: rgb(122, 0, 194);
        font-size: 1.5rem;
    }
    .loading-state {
        @apply flex gap-x-4
    }
    .loading-animation {
        @apply loading loading-spinner 
    }
}
@media (min-width: 1441px) {
    .generate-description-button {
        @apply font-medium rounded-md
    }
    .generate-description-button {
        padding: 1.25rem 1.5rem;
        background-color: rgb(122, 0, 194);
        font-size: 1.5rem;
    }
    .loading-state {
        @apply flex gap-x-4
    }
    .loading-animation {
        @apply loading loading-spinner 
    }
}