.page-container {
    background-color: rgb(18, 18, 18);
}

@media (0 < width <= 480px) {
    .page-container {
        margin-top: 80px;
        overflow-y: hidden;
    }
    .page-container {
        @apply grow flex py-6 justify-center px-6
    }
    .heading-container {
        @apply grow flex items-center justify-center
    }
    .heading-container h1 {
        @apply text-2xl text-center font-inter-medium
    }
    .descriptions {
        @apply flex flex-col h-full items-center  overflow-auto grow divide-y-2 divide-black
    }
    .description {
        @apply flex justify-between py-6 px-6 cursor-pointer w-full gap-x-6
    }
    .repository-name,
    .generation-date {
        @apply text-base text-ellipsis overflow-hidden
    }
}

@media (480px < width <= 834px) {
    .page-container {
        margin-top: 80px;
        overflow-y: hidden;
    }
    .page-container {
        @apply grow flex py-6 justify-center px-6
    }
    .heading-container {
        @apply grow flex items-center justify-center
    }
    .heading-container h1 {
        @apply text-4xl text-center font-inter-medium
    }
    .descriptions {
        @apply flex flex-col h-full items-center gap-y-10 w-10/12 overflow-auto
    }
    .description {
        @apply flex justify-between py-8 rounded-md px-8 cursor-pointer w-full gap-x-6
    }
    .description:hover {
        background-color: rgb(26, 26, 26);
    }
    .repository-name,
    .generation-date {
        @apply text-lg text-ellipsis overflow-hidden
    }
}

@media (834px < width <= 1440px) {
    .page-container {
        margin-top: 100px;
        overflow-y: hidden;
    }
    .page-container {
        @apply grow flex py-6 justify-center px-6
    }
    .heading-container {
        @apply grow flex items-center justify-center
    }
    .heading-container h1 {
        @apply text-5xl text-center font-inter-medium
    }
    .descriptions {
        min-width: 800px;
    }
    .descriptions {
        @apply flex flex-col h-full items-center gap-y-10  w-10/12 overflow-auto
    }
    .description {
        @apply flex justify-between py-8 rounded-md px-8 cursor-pointer w-full
    }
    .description:hover {
        background-color: rgb(26, 26, 26);
    }
    .repository-name,
    .generation-date {
        @apply text-xl 
    }
}

@media (min-width: 1441px) {
    .page-container {
        @apply grow flex py-10 px-10
    }
    .page-container {
        border-left-width: 4px;
        border-left-color: black;
    }
    .heading-container {
        @apply grow flex items-center justify-center
    }
    .heading-container h1 {
        @apply text-4xl font-inter-medium
    }
    .descriptions {
        @apply flex flex-col grow items-center gap-y-10 overflow-auto
    }
    .descriptions > div {
        @apply flex w-9/12 justify-between py-8 rounded-md px-8 cursor-pointer
    }
    .description:hover {
        background-color: rgb(26, 26, 26);
    }
    .repository-name,
    .generation-date {
        @apply text-xl 
    }
}