.page-container {
    background-color: rgb(18, 18, 18);
}

@media (0 < width <= 480px) {
    .page-container {
        @apply flex grow flex-col h-full gap-y-2
    }
    .header {
        height: 50px;
    }
    .header > div {
        @apply flex items-end h-full px-5
    }
    .go-back-icon {
        @apply h-6 w-6
    }
    .github-icon {
        @apply h-10 w-10
    }
    .repository-name {
        @apply text-2xl font-inter-medium
    }
    .main {
        @apply flex flex-col grow items-center justify-center gap-y-4 pb-5 px-5
    }
    .main > div:first-child {
        @apply flex flex-col items-center gap-y-4
    }
    .main > div:last-child {
        @apply grow flex flex-col w-full gap-y-4 relative
    }
    .copy-button-container {
        @apply flex w-full justify-center rounded-md py-4 items-center gap-x-3
    }
    .copy-button-container {
        background-color: rgb(122, 0, 194);
    }
    .copy-button {
        @apply text-lg font-medium
    }
    .copy-icon {
        @apply h-5 w-5
    }
    .repository-description {
        @apply textarea textarea-bordered grow w-full rounded-md resize-none text-base py-2
    }
    .repository-description {
        background-color: rgb(18, 18, 18);
    }
}

@media (480px < width <= 834px) {
    .page-container {
        @apply flex grow flex-col h-full gap-y-2
    }
    .header {
        height: 70px;
    }
    .header > div {
        @apply flex items-end h-full px-12
    }
    .go-back-icon {
        @apply h-7 w-7
    }
    .github-icon {
        @apply h-10 w-10
    }
    .repository-name {
        @apply text-3xl font-inter-medium
    }
    .main {
        @apply flex flex-col grow items-center justify-center gap-y-6 pb-5 px-5
    }
    .main > div:first-child {
        @apply flex flex-col items-center gap-y-4
    }
    .main > div:last-child {
        @apply grow flex flex-col w-full gap-y-4 relative items-center
    }
    .repository-description {
        @apply textarea textarea-bordered grow min-w-96 w-3/4 rounded-md resize-none text-base py-2
    }
    .repository-description {
        background-color: rgb(18, 18, 18);
    }
    .copy-button-container {
        @apply flex w-fit justify-center rounded-md py-4 px-4 items-center gap-x-3
    }
    .copy-button-container {
        background-color: rgb(122, 0, 194);
    }
    .copy-button {
        @apply text-lg font-medium
    }
    .copy-icon {
        @apply h-5 w-5
    }
}

@media (834px < width <= 1440px) {
    .page-container {
        @apply flex grow flex-col h-full gap-y-2 pb-6
    }
    .header {
        height: 120px;
    }
    .header {
        @apply flex relative justify-center px-14
    }
    .header > div:first-child {
        @apply flex items-center justify-start h-full absolute left-0 px-14
    }
    .header > div:last-child {
        @apply flex items-center h-full gap-x-6
    }
    .go-back-icon {
        @apply h-8 w-8 cursor-pointer
    }
    .github-icon {
        @apply h-12 w-12
    }
    .repository-name {
        @apply text-4xl font-inter-medium
    }
    .main {
        @apply flex grow items-center justify-center gap-y-5 
    }
    .main > div {
        @apply grow flex flex-col gap-y-6 h-full items-center
    }
    .repository-description {
        @apply textarea textarea-bordered grow w-1/2 rounded-md resize-none text-base py-4 textarea-lg text-lg
    }
    .repository-description {
        background-color: rgb(18, 18, 18);
        outline: none !important;
        min-width: 600px;
    }
    .copy-button-container {
        @apply flex w-fit justify-center rounded-md py-5 px-5 items-center gap-x-3 cursor-pointer
    }
    .copy-button-container {
        background-color: rgb(122, 0, 194);
    }
    .copy-button {
        @apply text-xl font-medium
    }
    .copy-icon {
        @apply h-5 w-5
    }
}

@media (min-width: 1441px) {
    .page-container {
        @apply flex grow flex-col h-full pb-6
    }
    .header {
        @apply flex items-center relative justify-center px-24
    }
    .header {
        height: 120px;
    }
    .go-back-icon {
        @apply h-9 w-9
    }
    .header > div:first-child {
        @apply absolute left-0 rounded-md cursor-pointer px-32
    }
    .header > div:last-child {
        @apply flex items-center h-full justify-center gap-x-8
    }
    .github-icon {
        @apply h-12 w-12
    }
    .repository-name {
        @apply text-4xl font-inter-medium
    }
    .main {
        @apply grow flex justify-center items-center
    }
    .main > div {
        @apply grow flex flex-col gap-y-6 h-full items-center
    }
    .copy-button-container {
        @apply flex justify-center rounded-md py-5 px-5 items-center gap-x-3 w-fit cursor-pointer
    }
    .copy-button-container {
        background-color: rgb(122, 0, 194);
    }
    .copy-button {
        @apply text-xl font-medium
    }
    .copy-icon {
        @apply h-5 w-5
    }
    .repository-description {
        @apply textarea textarea-bordered grow w-1/2 rounded-md resize-none text-base py-4 textarea-lg text-lg
    }
    .repository-description {
        background-color: rgb(18, 18, 18);
        outline: none !important;
    }
}