.page-container {
    background-color: rgb(18, 18, 18);
}

@media (0 < width <= 480px) {
    .page-container {
        @apply flex grow justify-center items-center
    }
    .page-container {
        margin-top: 80px;
    }
    .page-container > h1 {
        @apply text-3xl font-medium
    }
}

@media (480px < width <= 834px) {
    .page-container {
        @apply flex grow justify-center items-center 
    }
    .page-container {
        margin-top: 80px;
    }
    .page-container > h1 {
        @apply text-3xl font-medium
    }
}

@media (834px < width <= 1440px) {
    .page-container {
        @apply flex grow flex-col justify-center items-center
    }
    .page-container > h1 {
        @apply text-5xl
    }
}

@media (min-width: 1441px) {
    .page-container {
        @apply flex grow flex-col justify-center items-center
    }
    .page-container {
        border-left-width: 4px;
        border-left-color: black;
    }
    .page-container > h1 {
        @apply text-5xl
    }
}